<span class="dijit dijitReset dijitInline" role="presentation"
    ><span class="dijitReset dijitInline citrixButton" dojoAttachEvent="ondijitclick: _onClick"
        ><span class="dijitReset dijitInline citrixButtonLeft"></span
        ><span class="dijitReset dijitStretch citrixButtonContents citrixButtonCenter" dojoAttachPoint="titleNode, focusNode" waiRole="button" waiState="labelledby-${id}_label"
            ><span class="dijitReset dijitIcon" dojoAttachPoint="iconNode"></span
            ><span class="dijitReset dijitInline citrixButtonText" id="${id}_label" dojoAttachPoint="containerNode"></span
        ></span
        ><span class="dijitReset dijitInline citrixButtonRight"></span
    ></span
    ><input ${!nameAttrSetting} type="${type}" value="${value}" class="dijitOffScreen" role="presentation" tabindex="-1" dojoAttachPoint="valueNode"
/></span>