<span class="dijit dijitReset dijitInline"
    ><span class="dijitReset dijitInline citrixButton imageButton" dojoAttachEvent="ondijitclick: _onClick"
        ><span class="dijitReset citrixButtonContents" dojoAttachPoint="titleNode, focusNode" waiRole="button" waiState="labelledby-${id}_label"
            ><span class="dijitReset dijitIcon citrixImageButton" dojoAttachPoint="iconNode"></span
            ><span class="dijitReset dijitInline citrixButtonText" id="${id}_label" dojoAttachPoint="containerNode"></span
        ></span
    ></span
    ><input ${!nameAttrSetting} type="${type}" value="${value}" class="dijitOffScreen" role="presentation" tabindex="-1" dojoAttachPoint="valueNode"
/></span>