<li class="dijit dijitReset dijitInline" dojoAttachPoint="containerNode">
    <div class="dijitInline citrixDecreaseButton" dojoAttachPoint="decreaseButton" tabindex="0" dojoAttachEvent="onclick:_onDecreaseClick, onkeypress:_onDecreaseClick"><div class="arrowIcon arrowIconLeft"></div></div
   ><div class="dijitInline citrixInfo"><span class="text" dojoAttachPoint="infoNode"></span></div
   ><div class="dijitInline citrixIncreaseButton" dojoAttachPoint="increaseButton" tabindex="0" dojoAttachEvent="onclick:_onIncreaseClick, onkeypress:_onIncreaseClick"><div class="arrowIcon arrowIconRight"></div></div>
</li>