<div>
    <button dojoType="citrix.common.Button" dojoAttachPoint="backButton" dojoAttachEvent="onClick:_onBackClick">${backLabel}</button>
    <button dojoType="citrix.common.Button" dojoAttachPoint="nextButton" dojoAttachEvent="onClick:_onNextClick">${nextLabel}</button>
    <button dojoType="citrix.common.Button" dojoAttachPoint="finishButton" dojoAttachEvent="onClick:_onFinishClick">${finishLabel}</button>
    <button dojoType="citrix.common.Button" dojoAttachPoint="cancelButton" dojoAttachEvent="onClick:_onCancelClick">${cancelLabel}</button>
</div>