.tundra .citrixImageSelect {
    margin: 0;
    /*padding: 0; We want to keep the list style left pad */
    overflow: auto;
}

.tundra .citrixImageItem {
    border: 10px solid transparent;
}

.tundra .dijitDisabled.citrixImageItem {
    -webkit-border-image: none;
}

.tundra .dijitSelected.citrixImageItem {
    -webkit-border-image: url(/images/borders/system_panel.png) 10 repeat;
}

.tundra .dijitFocused.citrixImageItem {
    -webkit-border-image: url(/images/borders/system_panel_focus.png) 10 repeat;
}

.tundra .citrixImageItem img {
    opacity: 1.0;
}

.tundra .dijitDisabled.citrixImageItem img {
    opacity: 0.5;
}

.tundra .dijitSelected.citrixImageItem img {
    opacity: 1.0;
}

.tundra .citrixImage100 img {
    width: 100px;
}

.tundra .citrixImage85 img {
    width: 85px;
}

.tundra .citrixImage75 img {
    width: 75px;
}

.tundra .citrixImage65 img {
    width: 65px;
}

.tundra .citrixImage55 img {
    width: 55px;
}

.tundra .citrixImage45 img {
    width: 45px;
}