.tundra .citrixWizard .citrixImageSelect {
    width: 700px;
    padding: 0px;
    height: 285px;
}

.tundra .citrixWizard .cdWarning {
    display: inline-block;
    position: absolute;
    margin: 2px 0px 0px -42px;
}