/* Normal Layout */

.tundra .citrixVMContainerOuter {
    width: 100%;
    height: 100%;
    display: table;
}

.tundra .citrixVMContainerInner {
    display: table-cell;
    vertical-align: middle;
}

.tundra .citrixVMContainerStripe {
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 2px 10px;
}

.tundra .citrixVMContainerText {
    font-weight: bold;
    padding-bottom: 15px;
}

.tundra .citrixVM {
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}

.tundra .citrixVMOuter {
    display: table;
    position: relative;
}

.tundra .citrixVMInner {
    display: table-cell;
    vertical-align: bottom;
    padding: 45px 0 0;
}

.tundra .citrixVMInner.zeroVM {
    padding: 78px 0;
}

.tundra .citrixVMContainer {
    width: 170px;
    text-align: center;
}

.tundra .vmText {
    white-space: pre;
    font-size: 14px;
    display: inline-block;
}

.tundra .noVMText {
    font-size: 14px;
    height: 5px;
}

.tundra .vmTransfer .vmText {
    text-transform: capitalize;
    font-size: 12px;
}

.tundra .vmName {
    overflow: hidden;
    max-width: 135px;
    white-space: pre;
    text-overflow: ellipsis;
}

.tundra .vmNameIcon {
    display: inline-block;
    margin: 0 0 0 3px;
}

.tundra .vmSpinner {
    background: url(/images/000_Preloader_32x32.gif) no-repeat center;
    height: 40px;
    position: absolute;
    margin: -100px 65px;
    width: 40px;
}

.tundra .badgeContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -24px;
}

.tundra .vmState {
    text-transform: capitalize;
}

.tundra .vmFooter {
    display: inline-block;
    width: 170px;
    text-align: center;
    height: 80px;
}

.tundra .vmTransfer {
    color: #444;
    visibility: hidden;
}

.tundra .vmControl {
    display: none;
}

.tundra .vmShadow {
    height: 22px;
    margin-top: 5px;
    margin-bottom: -5px;
    background: url('/images/buttons/pointer_shadow.png') no-repeat;
}

.tundra .vmProgress {
    margin-top: 15px;
}

.tundra .citrixVMPower {
    font-size: 14px;
    width: 100%;
    height: 100px;
}

.tundra .vmPowerImage {
    width: 100px;
    padding-right: 15px;
}

.tundra .vmPowerTextContainer {
    padding: 15px 0;
}

.tundra .vmPowerState {
    text-transform: capitalize;
}

/* Focus */

.tundra .dijitFocused .citrixVMContainer,
.tundra .dijitActive .citrixVMContainer {
}

.tundra .dijitFocused .vmControl,
.tundra .dijitActive .vmControl {
    display: inline-block;
}

.tundra .dijitFocused.transferring .vmControl,
.tundra .dijitActive.transferring .vmControl {
    display: none;
}

.tundra .dijitFocused .vmTransfer,
.tundra .dijitActive .vmTransfer {
    display: none;
}

.tundra .dijitFocused.transferring .vmTransfer,
.tundra .dijitActive.transferring .vmTransfer {
    display: inline-block;
}

.tundra .vmImage {
    width: 150px;
    padding-bottom: 9px;
}

/* Fisheye Layout */

.tundra .fish .vmNameContainer {
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
}

.tundra .fish .vmImage {
    width: 120px;
    padding-bottom: 10px;
    -webkit-transform-origin: 50% 80%;
    /*-webkit-box-reflect: below -52px -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.2));*/
}
