<div class="citrixDialog alertDialog" dojoAttachPoint="containerNode" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div class="citrixDialogTitleBar">
        <span dojoAttachPoint="titleNode" class="citrixDialogTitle" id="${id}_title"></span>
        <span dojoAttachPoint="closeButtonNode" class="citrixDialogCloseIcon" dojoAttachEvent="onclick: onCancel">
            <span dojoAttachPoint="closeText"></span>
        </span>
	</div>
    <div class="citrixDialogPaneContent">
        <div dojoAttachPoint="iconNode"></div>
        <div class="alertMessage" dojoAttachPoint="messageNode"></div>
    </div>
    <div dojoAttachPoint="footerNode" class="citrixDialogFooterContent">
        <input id="notAgain" class="notAgain notAgainCheckbox" type="checkbox" dojoType="citrix.common.CheckBox" dojoAttachPoint="notAgainNode"/>
        <label for="notAgain" class="notAgain">${DO_NOT_SHOW_AGAIN}</label>
        <span class="citrixDialogFooter right">
            <button dojoAttachPoint="continueButton" dojoType="citrix.common.Button" class="citrixDialogItemRight" dojoAttachEvent="onClick: onExecute"></button>
            <button dojoAttachPoint="closeButton" dojoType="citrix.common.Button" class="citrixDialogItemRight" dojoAttachEvent="onClick: onCancel"></button>
        </span>
    </div>
</div>