<div class="citrixDialog alertDialog" dojoAttachPoint="containerNode" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
	<div class="citrixDialogTitleBar">
        <span dojoAttachPoint="titleNode" class="citrixDialogTitle" id="${id}_title"></span>
        <span dojoAttachPoint="closeButtonNode" class="citrixDialogCloseIcon" dojoAttachEvent="onclick: onCancel">
            <span dojoAttachPoint="closeText"></span>
        </span>
	</div>
    <div class="citrixDialogPaneContent">
        <ul class="connectDevice" dojoType="citrix.common.Repeater" dojoEventHandler="this" name="getPCIDevices" uniqueId="addr">
            <li template deviceId="%addr%">
                <div class="device" templateType="citrix.common.BoundWidget" binding="disabled" bind="unavailable" dojoAttachEvent="onClick: onDeviceSelect">
                    <div class="deviceItem deviceName" templateType="citrix.common.BoundWidget" bind="name"></div>
                    <div class="deviceItem" templateType="citrix.common.BoundWidget" bind="info" mask="${PCI_INFO}"></div>
                    <div class="deviceItem deviceStatus" templateType="citrix.common.BoundWidget" bind="state" mask="value" map="['${PCI_STATE_0}', '${PCI_STATE_1}', '${PCI_STATE_2}']"></div>
                </div>
            </li>
            <li empty class="noDevices">${NONE_AVAILABLE}</li>
        </ul>
    </div>
    <div dojoAttachPoint="footerNode" class="citrixDialogFooterContent">
        <span class="citrixDialogFooter right">
            <button dojoAttachPoint="connectButton" dojoType="citrix.common.Button" class="citrixDialogItemRight" dojoAttachEvent="onClick: onExecute">${CONNECT_ACTION}</button>
            <button dojoType="citrix.common.Button" class="citrixDialogItemRight" dojoAttachEvent="onClick: onCancel">${CANCEL_ACTION}</button>
        </span>
    </div>
</div>