<div
    ><div dojoType="citrix.common.FooterBar" id="frameFooter"
        ><div class="footerLogos">
            <img class="brandingLogo" dojoAttachPoint="brandingLogo" style="display: none;" />
        </div
        ><div dojoAttachPoint="containerNode"></div
        ><div dojoType="citrix.common.FooterBarItem" dojoAttachPoint="measuredDisabled" tooltip="${MEASURED_BOOT_DISABLED}" iconClass="shieldIcon shieldIconMedium shieldIconRed" class="citrixFooterBarItemRight"></div
        ><div dojoType="citrix.common.FooterBarItem" dojoAttachPoint="measuredSuccess" tooltip="${MEASURED_BOOT_SUCCESS}" iconClass="shieldIcon shieldIconMedium shieldIconGreen" class="citrixFooterBarItemRight"></div
        ><div dojoType="citrix.common.FooterBarItem" dojoAttachPoint="measuredFailed" tooltip="${MEASURED_BOOT_FAILED}" iconClass="shieldIcon shieldIconMedium shieldIconRed" class="citrixFooterBarItemRight"></div
        ><div dojoType="citrix.xenclient.AlertFooterBarItem" class="citrixFooterBarItemRight"></div
    ></div>
</div>