<div class="dijitReset dijitInline citrixMenuBarItem" role="menuitem" tabIndex="-1" dojoAttachPoint="focusNode" dojoAttachEvent="onmouseenter:_onHover,onmouseleave:_onUnhover,ondijitclick:_onClick"
    ><span class="dijitReset dijitInline citrixMenuBarItemSplitter" dojoAttachPoint="leftSplitterNode"></span
	><span class="dijitReset dijitInline citrixMenuBarItemContainer">
        <div class="citrixMenuBarItemIcon" dojoAttachPoint="iconNode"></div>
        <div class="networkPreloader" dojoAttachPoint="preloaderNode" style="display: none;"></div>
        <div class="citrixMenuBarItemText ndvmName" dojoAttachPoint="containerNode"></div>
    </span
    ><span class="dijitReset dijitInline citrixMenuBarItemSplitter" dojoAttachPoint="rightSplitterNode"></span
></div>
