<div class="citrixDialog" tabindex="-1" waiRole="dialog" waiState="labelledby-${id}_title">
  	<div class="citrixDialogTitleBar">
        <span dojoAttachPoint="titleNode" class="citrixDialogTitle" id="${id}_title">${CREATE_STATUS_REPORT}</span>
        <span dojoAttachPoint="closeButtonNode" class="citrixDialogCloseIcon" dojoAttachEvent="onclick: onCancel">
            <span dojoAttachPoint="closeText"></span>
        </span>
    </div>
    <div class="citrixDialogPaneContent">
        <div id="${wizardId}" dojoType="citrix.common.WizardContainer" dojoAttachPoint="wizard">
            <div class="smallText" dojoType="citrix.common.WizardPage" title="${REPORT_WELCOME}" selected="true">
                <fieldset class="citrixTabPaneColumn single">
                    <p>${REPORT_DESCRIPTION}</p>
                    <p>${REPORT_VM_DESCRIPTION}</p>
                    <div class="citrixTabPaneField radio">
                        <label>&nbsp;</label>
                        <input id="includeVMScreens" dojoType="citrix.common.CheckBox" name="includeVMScreens" type="checkbox" title="${REPORT_INCLUDE_VMSCREENS}" checked="checked"/>
                        <label class="inline" for="includeVMScreens">${REPORT_INCLUDE_VMSCREENS}</label>
                    </div>
                    <div class="citrixTabPaneField radio">
                        <label>&nbsp;</label>
                        <input id="includeVMs" dojoType="citrix.common.CheckBox" name="includeVMs" type="checkbox" title="${REPORT_INCLUDE_VMS}" checked="checked" />
                        <label class="inline" for="includeVMs">${REPORT_INCLUDE_VMS}</label>
                    </div>
                </fieldset>
                <div class="alignBottom">
                    <div class="alertBox blueBox">
                        <span class="alertIcon alertIconSmall alertIconInformation"></span>
                        <div>${REPORT_INFO}</div>
                    </div>
                </div>
            </div>
            <div dojoType="citrix.common.WizardPage" title="${REPORT_SUMMARY}">
                <fieldset class="citrixTabPaneColumn single">
                    <div class="citrixTabPaneField">
                        <label>&nbsp;</label>
                        <div class="grey value">${REPORT_DETAILS}</div>
                    </div>
                    <div class="citrixTabPaneField">
                        <label for="summary">${SUMMARY_LABEL}</label>
                        <input class="citrix" id="summary" class="citrix" dojoType="citrix.common.ValidationTextBox" name="summary" maxLength="60" required="true" regExpObject="XenConstants.Regex.VM_NAME" invalidMessage="${SUMMARY_VALERROR}" />
                    </div>
                    <div class="citrixTabPaneField">
                        <label for="description">${DESCRIPTION_LABEL}</label>
                        <textarea class="citrix" id="description" name="description" dojoType="citrix.common.ValidationTextarea"></textarea>
                    </div>
                </fieldset>
                <div class="alignBottom">
                    <div class="alertBox blueBox">
                        <span class="alertIcon alertIconSmall alertIconInformation"></span>
                        <div>${REPORT_SUMMARY_INFO}</div>
                    </div>
                </div>
            </div>
            <div dojoType="citrix.common.WizardPage" title="${REPORT_STEPS}">
                <fieldset class="citrixTabPaneColumn single">
                    <div class="citrixTabPaneField">
                        <label>&nbsp;</label>
                        <div class="grey value">${REPORT_REPRO}</div>
                    </div>
                    <div class="citrixTabPaneField">
                        <label for="steps">${REPORT_REPRO_LABEL}</label>
                        <textarea class="citrix" id="steps" name="steps" dojoType="citrix.common.ValidationTextarea"></textarea>
                    </div>
                    <div class="citrixTabPaneField">
                        <label>&nbsp;</label>
                        <div class="grey value">${REPORT_TICKET}</div>
                    </div>
                    <div class="citrixTabPaneField">
                        <label for="number">${REPORT_TICKET_LABEL}</label>
                        <input dojoAttachPoint="numberNode" class="citrix" id="number" type="text" name="number" dojoType="citrix.common.ValidationTextBox" />
                    </div>
                </fieldset>
            </div>
            <div dojoType="citrix.common.WizardPage" title="${REPORT_GENERATION}" dojoAttachPoint="generationPage">
                <fieldset class="citrixTabPaneColumn single">
                    <p>${REPORT_FINISHED}</p>
                    <div>&nbsp;</div>
                    <div class="citrixTabPaneField progressBar" dojoAttachPoint="generatingReport">
                        <label>${GENERATING_REPORT}</label>
                        <div dojoType="citrix.common.ProgressBar" dojoAttachPoint="progressNode"></div>
                    </div>
                </fieldset>
            </div>
            <div dojoType="citrix.common.WizardPage" title="${REPORT_FINISH}" dojoAttachPoint="finishPage">
                <fieldset class="citrixTabPaneColumn single">
                    <p dojoAttachPoint="reportName">${REPORT_CREATED}</p>
                    <p dojoAttachPoint="reportFinish">${REPORT_FINISH_SERVER}</p>
                    <p dojoAttachPoint="serveReport"></p>
                    <p dojoAttachPoint="stopServer">${STOP_SERVER}</p>
                </fieldset>
            </div>
        </div>
    </div>
    <div dojoAttachPoint="footerNode" class="citrixDialogFooterContent">
        <span class="citrixDialogFooter right" wizardId="${wizardId}" dojoType="citrix.common.WizardNavigator" dojoAttachPoint="navigationNode"></span>
    </div>
</div>