<div class="citrixVM" dojoAttachPoint="containerNode" dojoAttachEvent="onmouseover: _onMouseMove, onmousemove: _onMouseMove, onmouseout: _onMouseOut">
    <div class="citrixVMOuter">
        <div class="citrixVMInner zeroVM">
            <div class="citrixVMContainer">
                <img class="vmImage" dojoAttachPoint="imageNode" dojoAttachEvent="onclick: _onClick" />
                <div class="vmNameContainer">
                    <div class="noVMText" dojoAttachPoint="textNode"></div>
                </div>
            </div>
        </div>
    </div>
</div>